.list-product {
  > div {
    margin-bottom: 30px;
  }
}

.card-product {
  position: relative;
  vertical-align: middle;
  box-shadow: 0 2px 7px rgba(46, 25, 0, 0.19);
  padding-top: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  overflow: hidden;
  transition: transform .4s ease-in-out, border .4s ease-in-out !important;
  height: 100%;
  .btn-add-to-cart {
    display: inline-block;
    border: 1px solid $orange-dark;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    background-color: #000;
    font-weight: 600;
    font-size: 0.8125rem;
    text-transform: uppercase;
    color: $orange-dark;
    min-width: 86px;
    &:hover,
    &:active,
    &:focus, &.active {
      color: #fff;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.38);
      transform: translateY(-3px);
      background-color: $orange-dark;
    }
  }
  .product-image {
    padding: 10px ;
    height: 220px;
    display: flex;
    align-items: center;
    img {
      transition: transform .4s ease-in-out;
      max-height: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .product-compare {
    .custom-control-label {
      color: #fff;
      font-size: 0.875rem;
      width: 123px;
      background-color: #cecece;
      height: 33px;
      border-radius: 3px;
      padding-left: 0.5rem;
      transition: background .4s ease-in-out, border .4s ease-in-out;
      span {
        text-align: center;
        padding-left: 0.5rem;
      }
      &:hover {
        background-color: $orange-dark;
      }
    }
    .custom-control-label::before {
      background-color: #fff;
      width: 17px;
      height: 17px;
      top: 8px;
      right: 8px;
      left: auto;
    }
    .custom-control-label::after {
      width: 17px;
      height: 17px;
      top: 8px;
      right: 8px;
      left: auto;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #000;
      border: 1px solid $orange-dark;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label {
      background-color: $orange-dark;
    }
  }
  .product-body {
    border-top: 8px solid $orange;
    background-color: #000000;
    padding: 1rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
    .product-info {
      & > div {
        width: 50%;
      }
    }
    .product-settings {
      color: $orange-dark;
      font-size: 0.875rem;
      span {
        margin-bottom: 2px;
      }
    }
    .model-name {
      color: $orange-dark;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      font-size: 1.125rem;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .product-name {
      color: $silver;
      font-size: 0.8125rem;
    }
    .product-price {
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      color: #ffffff;
      font-size: 1.25rem;
      text-align: right;
    }
    .product-old-price {
      color: $silver;
      text-align: right;
      font-size: 1rem;
      text-decoration: line-through;
    }
  }
  &:hover {
    box-shadow: none;
    .product-image {
      img {
        transform: scale(1.05);
      }
    }
  }
  .sale-product {
    position: absolute;
    top: -30px;
    border-radius: 4px;
    right: 15px;
    background-color: $orange-dark;
    width: 110px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 100%;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 10px solid $orange-dark;
    }
  }
}

.card-category-product {
  height: 216px;
  border-radius: 8px;
  box-shadow: 0 2px 7px rgba(46, 25, 0, 0.19);
  position: relative;
  overflow: hidden;
  .category-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    transition: transform .4s ease-in-out;
  }
  .category-box-title {
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    line-height: 1;
    @include fontSize(14px);
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 0.9375rem 0.5rem;
    transition: background-color .4s ease-in-out;
    position: relative;
    z-index: 10;
  }
  &:hover {
    .category-img {
      transform: scale(1.1);
    }
    .category-box-title {
      background-color: $orange-dark;
    }
  }
}

@media (max-width: 768px) {
  .card-product .product-body .product-price,
  .card-product .product-body .model-name {
    @include fontSize(15px);
  }
  .card-product .product-body .product-old-price {
    @include fontSize(14px);
  }

}